/* Navbar */
.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1rem;
  margin-right: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffc107;
}

.navbar-nav .nav-link.active {
  color: #00bcd4; /* Changed the color for active link */
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Media Query for responsive design */
@media (max-width: 767px) {
  .navbar-nav .nav-link {
    margin-right: 0;
    padding: 0.5rem 1rem;
  }
}
